.alert {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.alert-read {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  display: flex;
  position: absolute;
  left: 33px;
}
.alert-read__cog {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  display: flex;
  position: absolute;
  right: 18px;
  top: 55px;
}
